* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    margin: 0;
}

.row > * {
    padding: 0 1rem;
    margin: 1rem 0;
}
/*---Elimina diferencia de margenes entre página y ventana---*/

.bodyHome {
    background-image: url(https://image.simplecastcdn.com/images/5ecb8a5f-607a-4e0a-8e01-5dc3c72bbdaf/2342120a-9e0a-4d2b-8e0f-40975b916e8f/3000x3000/thumb-3000x3000-episodio23-civilwar.jpg?aid=rss_feed);
    background-size: 180%;
}

/*--header---*/

header{
    height: 430px;
    width: 100%;
    background: rgb(208,235,17);
    background: linear-gradient(90deg, rgba(210, 235, 17, 0.637) 0%, rgba(250,238,0,0.7483368347338936) 5%, rgba(127,218,27,0.908000700280112) 100%);
    border: 1px solid;    
}

.flexHeader {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}
.nav_1{
   display: flex;
   list-style: none;
   justify-content:space-evenly;
   font-family: 'Grechen Fuemen', cursive;
   font-size: 30px;
    align-items: center;
    height: 80px;
}
.nav_1 >li >a {
    text-decoration: none;
    color: black;
}
.nav_1 > li {
    transition: all 400ms;
}
.nav_1 >li:hover {
    transition: all 400ms;
    transform: scale(1.5);
}

.imgLogo img{
    height: 250px;
    padding: 5px;
    border: 5px double;
}

/*----sectionOne-----*/

.sectionOnebackground {
    background-image:url(destacados/section_1.jpg);
    background-size:cover;
    font-family: 'Gluten', cursive;
    width: 100%;
}

.container-fluid h2{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}
.imgSectionOne {
    height:550px;
    width:100%;
}
.img-fluid {
    border:8px double;
    height: 311px;
}
.marginBottom {
    margin-bottom:20px;
}
.carousel-inner {
    border: 2px solid black;  
}
/*
.sectionOne {  
    font-family: 'Gluten', cursive;
    height: 800 px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9304096638655462) 0%, rgba(0,212,255,1) 100%);
    border: 1px solid #000;
}
#flexSectionone {
    display: flex;
    margin: 50px 0px;
}
.sectionOneitem {
    display:flex;
    flex-direction: column;
    align-items: center;
}*/

.sectionTwo {  
    font-family: 'Gluten', cursive;
    height: 800 px;
    width: 100%;
    background-color: #c0c2b49d;
    border: 1px solid #000;    
}

#art1 {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: flex-start;
   margin-bottom: 20px;
   margin-top: 20px;
}

.section2Item1 {
    order:1;
}
.section2Item2 {
    order:3;
}
.section2Item3 {
    order:2;
}
.divSection2 iframe{
    border: 4px solid #000;
    padding: 0%;
    box-shadow: 0px 0px 4px 4px skyblue;
}
.divSection2{
    justify-content: center;
    display: flex;
}
.divSection2h{
    text-align: center;
}
.divSection2h h3, p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

/*
.sectionThree {  
    font-family: 'Gluten', cursive;
    height: 800 px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9304096638655462) 0%, rgba(0,212,255,1) 100%);
    border: 1px solid #000;
}
#flexSectionthree {
    display: flex;
    margin: 50px 0px;
}
.sectionThreeitem {
    display:flex;
    flex-direction: column;
    align-items: center;
}*/
.sectionThreebackground {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9304096638655462) 0%, rgba(0,212,255,1) 100%); 
    background-size:cover;
    font-family: 'Grechen Fuemen', cursive;
    width: 100%;
}
.zoom {
    position:relative;
    overflow:hidden;
}
.zoom:hover img{
    transform: scale(1.3);
     -moz-transform:scale(1.3);
     -webkit-transform:scale(1.3);
}
.zoom img {
    transition: all (1);
     -moz-transition:all (1);
     -webkit-transition:all (1);
}
/*-----Seccion Contacto------*/

.bodyContact {
    background-image: url(https://images.alphacoders.com/180/thumb-1920-180561.jpg);
    background-size: cover;
}

#headerContact{
    height: 450 px;
    width: 100%;
    background: rgb(208,235,17);
    background: linear-gradient(90deg, rgba(210, 235, 17, 0.637) 0%, rgba(250,238,0,0.7483368347338936) 5%, rgba(127,218,27,0.908000700280112) 100%);  
}  

.sectionContact1 {
    background-color: rgba(248, 184, 234, 0.616);
}
.animate__animated {
    text-align: center;
}
.flexContact {
    display:flex;
    justify-content: center;
}
.flexContactform {
    display:flex;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 20px;
    color: rgb(3, 3, 3);
    border: double 4px;
    padding: 20px;
}
.sendContact {
    border: 2px solid black;
    font-size: 15px;
    padding: 5px;
    font-family:monospace;
}
.sendContact:active {
    transform:rotate(360deg);
}
.sendContact:hover {
    background-color: rgba(128, 128, 128, 0.301);
    font-family: 'Grechen Fuemen', cursive;
    padding: 5px;
    border-radius: 5px;
    border: double;
    font-weight:bold;
    font-size: 20px;
    transition: all 1s;
}
.GetOutcontact {
    border: 2px solid black;
    font-size: 15px;
    padding: 5px;
    font-family:monospace;
}
.GetOutcontact:active {
    transform:rotate(-360deg);
}
.GetOutcontact:hover {
    background-color: rgba(128, 128, 128, 0.301);
    font-family: 'Grechen Fuemen', cursive;
    padding: 5px;
    border-radius: 5px;
    border: double;
    font-weight:bold;
    font-size: 20px;
    transition: all 1s;
}
.submitContact {
    display:flex;
    justify-content:space-evenly;
}
.columnDate {
    display:flex;
    flex-direction:column;
    margin-top: 10px;
}
.check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px 0px;
}
.listContact{
    display:flex;
    flex-direction:column;
    margin-bottom: 10px;
}
.comentariosContact {
    display:flex;
    flex-direction:column;
}

/*---Seccion Novedades----*/

.bodyNovedades {
    background-image: url(https://fondosmil.com/fondo/4595.jpg);
    background-size: 130%;
}
#headerNovedades{
    height: 400px;
    width: 100%;
    background-color:#c5b909bb;
    border: 1px solid #000    
}
/*
.sectionNovedades1 {
    background-color: rgba(15, 194, 218, 0.747);
}*/
.gridNovedades {
    background-color: rgba(15, 194, 218, 0.596);
    display: grid;
    grid-template-rows: 200px 10px 300px;
}
.newsTitle {
    font-family:'Grechen Fuemen', cursive;
    justify-self: center;
    font-size: 30px;
}
.newsTwo {
    align-self:center;
    display:grid;
    grid-template-columns: repeat(6,224px);
}
.logoSpace {
    margin-left:44px;
}

/*---Seccion Licencias----*/

.bodyLicencias {
    background-image: url(https://4.bp.blogspot.com/-nuxXL35Cbi8/WuZQSvZ_p0I/AAAAAAAABjc/_ownflDSEbwdsOJ8oaGxSRnmeCCD5mRBwCLcBGAs/s1600/PGBK0U0.jpg);
    background-size: 115%;
}
#headerLicencias{
    height: 400px;
    width: 100%;
    background-color:#c5b909b4;
    border: 1px solid #000    
}
/*
.sectionLicencias1 {
    background-color: rgba(15, 194, 218, 0.596);
}*/

.contenedorLicencias {
    background-color: rgba(15, 194, 218, 0.596);
    display: grid;
    grid-template-columns: 670px 670px;
    grid-template-rows: 300px 300px;
    gap: 10px 10px;
}
.hotToysgrid {
    border: 8px solid #000;
    text-align: center;
    font-family: 'Gluten', cursive;
    font-size: 35px; 
}
.hotToysgrid {
    background-image: url(http://cdn.shopify.com/s/files/1/0453/1657/1293/collections/HOT_TOYS.jpg?v=1600993233)
    
}
.hotToysgrid {
    background-position: 50% 70%;
    background-size: cover;
}
.Irongrid {
    border: 8px solid #000;
    text-align: center;
    font-family: 'Gluten', cursive;
    font-size: 35px;
}
.Irongrid {
    background-image: url(https://funaticostore.com/wp-content/uploads/2021/06/iron-studio-logo.png)
    
}
.Irongrid {
    background-position: 50% 50%;
    background-size: cover;
}
.Necagrid {
    border: 8px solid #000;
    text-align: center;
    font-family: 'Gluten', cursive;
    font-size: 35px;
}
.Necagrid {
    background-image: url(http://cdn.shopify.com/s/files/1/0453/1657/1293/collections/NECA.jpg?v=1600993237)
    
}
.Necagrid {
    background-position: 50% 50%;
    background-size: cover;
}
.Bangrid {
    border: 8px solid #000;
    text-align: center;
    font-family: 'Gluten', cursive;
    font-size: 35px;
}
.Bangrid {
    background-image: url(https://cf.shopee.com.my/file/81721cc735907e5d9648b223d70a502e)
    
}
.Bangrid {
    background-position: 50% 50%;
    background-size: cover;
}

/*---Seccion Entretenimiento----*/

.bodyEntretenimiento {
    background-image: url(https://libero.cronosmedia.glr.pe/original/2021/08/08/61107f72a6da2f0d406b1860.jpg);
    background-size: 145%;
}
#headerEntretenimiento{
    height: 400px;
    width: 100%;
    background-color:#c5b909d7;
    border: 1px solid #000    
}
.sectionEntretenimiento1 {
    height: 400px;
    background-color: rgba(15, 194, 218, 0.616);
}
.flexEntretenimiento {
    display: flex;
    flex-direction:column;
    align-items: center;
    border: 1px solid black;
    height: 400px;
}
.imagenesEntretenimiento {
    margin-top: 40px;
}

/*-----footer-----*/

footer {
    height: 400px;
    width: 100%;
    background-color: rgb(168, 164, 164);
    border: 1px solid #000  
}

#footerFlex {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerCategory {
    display: flex;
    flex-direction: column;
    font-family: cursive;
    align-items: center;
    gap: 10px;
}
.footerCategory a {
    text-decoration: none;
    color: black;
}

.footerCategory li{
    font: 20px bolder;
    color: #000;
    height: 40px;
    margin-left: 50px;
    list-style-image: url(imagenes/action_avengers_book_comic_marvel_movie_icon_183140.png);
}
.footerCategory li {
        transition: all 400ms;
}
.footerCategory li:hover {
        transition: all 400ms;
        transform: scale(1.05);
}
.footerLocation {
    display: flex;
    flex-direction: column;
    font-family: cursive;
    align-items: center;
    gap: 20px;
}
#LocationItems {
    display: flex;
    flex-direction:row;
    gap: 15px;
}
.LocationIframe {
    border: 2px solid black;
}
.locationLogo {
    width: 45px;
    height: 45px;
}
.footerContact {
    display: flex;
    flex-direction: column;
    font-family: cursive;
    align-items: center;
}
.footerFollow {
    display: flex;
    flex-direction: column;
    font-family: cursive;
    align-items: center;
}

.footerFollow li {
    list-style: none;
}
.footerLinks {
    display: flex;
    flex-direction: column;
    font-family: cursive;
    align-items: center;
    gap: 10px;
}
.footerLinks a {
    text-decoration: none;
    color: black;
}

.footerLinks li{
    font: 20px bolder;
    color: #000;
    list-style-image: url(icons/tittle_icon.ico);
}
.footerLinks li {
        transition: all 400ms;
}
.footerLinks li:hover {
        transition: all 400ms;
        transform: scale(1.05);
}

/*---mobile---*/

@media (max-width: 575px) {
    .flexHeader {
        align-items: center;
    }
    .imgLogo img {
        height: 200px;
    }
    .nav_1 {
        flex-direction: column;
        height: 200px;
    }
    .aHeader {
        font-size: 25px;
    }
    header {
        height: 420px;
    }
    #art1 {
        flex-direction:column;
        align-items: center;
        margin-top: 30px;
    }
    .divSection2 {
        flex-direction: column;
        align-items: center;
    }
    .videoSize {
        width: 300px;
        height: 300px;
    }
    footer {
        height: 1020px;
    }
    #footerFlex {
        flex-direction: column;
    }
    .footerLocation {
        margin-top: 20px;
    }
    .locationLogo {
        width: 40px;
        height: 40px;
    }
    .ofertas-container {
        flex-direction: column;
    }
}

/*---tablet / Ipad---*/

@media (min-width: 576px) and (max-width: 768px) {
    .flexHeader {
        align-items: center;
    }
    .imgLogo img {
        height: 200px;
    }
    .nav_1 {
        flex-direction: column;
        height: 200px;
    }
    .aHeader {
        font-size: 30px;
    }
    header {
        height: 420px;
    }
    #art1 {
        align-items: center;
        margin-top: 30px;
        margin-left: 20px;
    }
    .section2Item3 {
        margin-left: 15px;
    }
    .videoSize {
        width: 230px;
        height: 230px;
    }
    .footerContact {
        margin-left: 15px;
    }
    .footerLocation {
        margin-left: 10px;
    }
    .locationLogo {
        width: 40px;
        height: 45px;
    }
    footer {
        height: 420px;
    }
}

/*---Bootstrap Media-----*/

@media (max-width: 575px) {
    .nav_1 {
        height:220px;
    }

    .container-fluid {
        width:100%;
        padding-left: 0%;
        padding-right:0%;
    }
    header {
        height:500px;
    }
    .imgSectionOne {
        height: 244px;
        width: 100%;
    }   
    .carousel-caption {
        bottom: -30px;
        
    }
    .carousel-caption h3, p{
        font-size:20px;  
    }
    .container-fluid h2 {
        font-size:25px;
    }  
    .col-2 {
        padding:0%;
    }  
    .img-fluid {
        height:121px;
    }
}
