footer {
    height: 400px;
    width: 100%;
    background: $gray-500;
    padding-top: 25px;

    @media (max-width: $sm) {
        height: 930px;
    }

    @media (min-width: 577px) and (max-width: 795px) {
        height: 500px;
    }

    #footerFlex {
        display:flex;
        flex-direction: row;
        justify-content: space-around;

        @media (max-width: $sm) {
            display: flex;
            flex-direction: column;
        }

        @media (min-width: 577px) and (max-width: $lg) {
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            justify-content: space-around;
        }

        h3 {
            @media (max-width: $xl) {
                font-size: $h5-font-size;
            }
        }

        .footerCategory {
            display: flex;
            flex-direction: column;
            font-family: cursive;
            align-items: center;
            gap: 10px;
            
            li {
                font: 20px bolder;
                color: #000;
                height: 40px;
                margin-left: 50px;
                list-style-image: url(imagenes/action_avengers_book_comic_marvel_movie_icon_183140.png);
                transition: all 400ms;

                &:hover {
                    transition: all 400ms;
                    transform: scale(1.05);
                }
            }
            
            a {
                text-decoration: none;
                color: black;

                strong {
                    @media (max-width: $xs) {
                        letter-spacing: 4px;
                    }
        
                }
            }
        }
        
        .footerLocation {
            display: flex;
            flex-direction: column;
            font-family: cursive;
            align-items: center;
            gap: 20px;
            
            iframe {
                @media (max-width: $xl) {
                    width: 200px;
                    height: 200px;
                }
            }
            div {
                display: flex;
                flex-direction:row;
                gap: 15px;
                @media (max-width: $xl) {
                    flex-direction: column;
                    align-items: center;
                }
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .footerLinks {
            display: flex;
            flex-direction: column;
            font-family: cursive;
            align-items: center;
            gap: 10px;
     
            li{
                font: 20px bolder;
                color: #000;                
                transition: all 400ms; 
                list-style: none;
                align-items: center;
                display: flex;
                margin: 15px 0;
                &:before {
                    content: '';
                    display: inline-block;
                    height: 48px;
                    width: 48px;
                    background-image: url(icons/tittle_icon.ico);
                    margin-right: 10px;
                }
                
                &:hover {
                    transition: all 400ms;
                    transform: scale(1.05);
                }

                img {
                    @media (max-width: $xl) {
                        height: 5px;
                    }
                }
            }

            
            
            a {
                text-decoration: none;
                color: black;

                strong {
                    @media (max-width: $xs) {
                        letter-spacing: 3px;
                    }
                }
            }
        }
        .footerContact {
            display: flex;
            flex-direction: column;
            font-family: cursive;
            align-items: center;
            text-align: center;
        }

        .footerFollow {
            display: flex;
            flex-direction: column;
            font-family: cursive;
            align-items: center;
            
            ul {
                @media (min-width: $xs) and (max-width: 795px) {
                    display: flex;
                    align-items: inline;
                }
            }
            li {
                list-style: none;
        
                &:hover {
                    transition: all 400ms;
                    transform: scale(1.05);
                }
            }
            
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}