header {
    height: 480px;
    width: 100%;
    background: $cold-body; 

    @media (max-width: $md) {
        height: 700px;
    }

    #navbarSupportedContent {
        display: block;
    }
    
    .flexHeader {
        display: flex;
        flex-direction: column;
        margin: 10px 10px;

        div {

            @media (max-width: $md) {
                display:flex;
                justify-content: center;
            }

            img{
                height: 250px;
                padding: 5px;
                border: 5px double;
    
            }
        }
       
        div {
            nav {
                ul {
                    display: flex;
                    list-style: none;
                    justify-content:space-evenly;
                    font-family: $custom-font;
                    font-size: 30px;
                    align-items: center;

                    @media (max-width: $md) {
                        display:flex;
                        flex-direction: column;
                        font-size: $h3-font-size;
                        font-family: $default-font;
                    }

                    @media (max-width: $sm) {
                        font-size: $h5-font-size;
                    }
                    
                    li {
                        transition: all 400ms;
                        
                        &:hover {
                            transition: all 400ms;
                            transform: scale(1.5);
                        } 
                    }
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }  
    }
}

.navbar-brand {
    transition: all 400ms;
    
    &:hover {
            transition: all 400ms;
            transform: scale(1.15);
            
    } 
}