footer {
    height: 400px;
    width: 100%;
    background-color: rgb(168, 164, 164);
    border: 1px solid #000; 

    #footerFlex {
        display:flex;
        flex-direction: row;
        justify-content: space-around;

        .footerCategory {
            display: flex;
            flex-direction: column;
            font-family: cursive;
            align-items: center;
            gap: 10px;

            li {
                font: 20px bolder;
                color: #000;
                height: 40px;
                margin-left: 50px;
                list-style-image: url(imagenes/action_avengers_book_comic_marvel_movie_icon_183140.png);
                transition: all 400ms;

                li:hover {
                    transition: all 400ms;
                    transform: scale(1.05);
                }
                
                a {
                    text-decoration: none;
                    color: black;
                }
            
            }
        }
        
        .footerLocation {
            display: flex;
            flex-direction: column;
            font-family: cursive;
            align-items: center;
            gap: 20px;

            iframe {
                border: 2px solid black;
            }

            img {
                width: 45px;
                height: 45px;
            }
        }

        .footerLinks {
            display: flex;
            flex-direction: column;
            font-family: cursive;
            align-items: center;
            gap: 10px;
            
            li{
                font: 20px bolder;
                color: #000;
                list-style-image: url(icons/tittle_icon.ico);
                transition: all 400ms;

                li:hover {
                    transition: all 400ms;
                    transform: scale(1.05);
                }
                
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        .footerContact {
            display: flex;
            flex-direction: column;
            font-family: cursive;
            align-items: center;
        }

        .footerFollow {
            display: flex;
            flex-direction: column;
            font-family: cursive;
            align-items: center;

            li {
                list-style: none;
            }
        }
    }
}