footer {
  height: 400px;
  width: 100%;
  background-color: #a8a4a4;
  border: 1px solid #000;
}

footer #footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer #footerFlex .footerCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: cursive;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

footer #footerFlex .footerCategory li {
  font: 20px bolder;
  color: #000;
  height: 40px;
  margin-left: 50px;
  list-style-image: url(imagenes/action_avengers_book_comic_marvel_movie_icon_183140.png);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

footer #footerFlex .footerCategory li li:hover {
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer #footerFlex .footerCategory li a {
  text-decoration: none;
  color: black;
}

footer #footerFlex .footerLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: cursive;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

footer #footerFlex .footerLocation iframe {
  border: 2px solid black;
}

footer #footerFlex .footerLocation img {
  width: 45px;
  height: 45px;
}

footer #footerFlex .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: cursive;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

footer #footerFlex .footerLinks li {
  font: 20px bolder;
  color: #000;
  list-style-image: url(icons/tittle_icon.ico);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

footer #footerFlex .footerLinks li li:hover {
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer #footerFlex .footerLinks li a {
  text-decoration: none;
  color: black;
}

footer #footerFlex .footerContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: cursive;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #footerFlex .footerFollow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: cursive;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #footerFlex .footerFollow li {
  list-style: none;
}
/*# sourceMappingURL=footer.css.map */